
.openerp .oe_simple_date{
    min-height: 0px ! important;
}

.openerp th.oe_list_header_datetime{
    min-width: 128px ! important;
}

.openerp .oe_list_content th.oe_list_header_date {
    min-width: 250px ! important;
}

.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field.oe_form_field_datetime input.oe_datepicker_master{
    width:40% ! important;
}

.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field.oe_form_field_datetime input.oe_datepicker_master.oe_simple_date{
    width:40% ! important;
}

.calendars-month {
    width:100% !important;
}

.calendars-month-year {
    width: 35% !important;
    display: inline-block !important;
}

.o_web_client > .o_main .o_main_content .o_content {
    background: #efeeeb;
}

.o_control_panel {
    background: url(/web_rtl/static/src/img/bgR.png) #e4e0ab repeat-x left top;
}


.navbar {
    margin-bottom: 0px;
}


.o_form_view .o_form_statusbar {
    border-bottom: 0px;
    padding-top: 5px;
    background-color: transparent;
}

.o_form_view .o_form_statusbar > .o_statusbar_buttons > .btn {
    margin-top: 10px;
}