    @font-face {

            font-family: Neo Sans Arabic;

            src: url('/mk_master_models/static/src/NeoSansArabic.ttf') format('opentype');

     }
      table {
                            border-collapse: collapse;

                            }

                        table{
                             border: 1px solid black;
                            }
                        td{
                            border: 1px solid black;
                            padding: 5px 5px 5px 5px;
                        }
                        th{
                            border: 1px solid black;
                            padding: 5px 5px 5px 5px;
                        }


